window {
    background-color: black;
}

window label {
    background-color:  rgb(0, 0, 31);
    color: lightblue;
}

button label{
    background-color:  darkblue;
    color: lightblue;
}

menubar {
    background-color:  rgb(0, 0, 31);
    color: lightblue;
}

menu {
    background-color: lightblue;
}

menu label{
    background-color: lightblue;
    color: black;
}

entry {
    background-color: rgb(0, 0, 31);
    color: lightblue;
}

button{
    background-color:  darkblue;
    color: lightblue;
}