window {
    background-color: black;
}

label {
    background-color: rgb(2, 1, 46);
    color: lightblue;
}

entry {
    background-color: rgb(2, 1, 46);
    color: lightblue;
}

button {
    background-color: rgb(2, 1, 46);
    color: lightblue;
}